.titlePhonebook {
  font-family: "Playfair Display", sans-serif;
  font-size: 600;
  font-weight: 600;
  color: rgb(12, 105, 83);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.parentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
